.btn {
    cursor: pointer;
    padding: 10px;
    border: 0;
    border-radius: var(--border-radius);
    font-weight: 500;
    transition: background-color 0.2s;
    font-size: 12px;
}

.btn-primary {
    background-color: var(--primary-1);
    color: var(--text-primary-color);

    &:hover {
        background-color: var(--primary-2);
    }
}

.btn-danger {
    background-color: var(--danger-1);
    color: var(--text-primary-color);

    &:hover {
        background-color: var(--danger-2);
    }
}

.btn-success {
    background-color: var(--success-1);
    color: var(--text-primary-color);
    &:hover {
        background-color: var(--success-2);
    }
}

.btn-pagination {
    cursor: pointer;
    background-color: var(--gray-3);
    color: var(--text-primary-color);
    padding: 10px;
    width: 75px;
    margin: 0 8px;
    font-size: 12px;
    border-radius: var(--border-radius);
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}