/* color palette from <https://github.com/vuejs/theme> */

:root {
  --primary-1: #3498db;
  --primary-2: #2980b9;
  --danger-1: #e74c3c;
  --danger-2: #c0392b;
  --success-1: #2ecc71;
  --success-2: #27ae60;
  --gray-1: #f6f6f6;
  --gray-2: #ddd;
  --gray-3: #34495e;
  --text-color: #444;
  --text-primary-color: #ffffff;
  --dark-1: #3d3d3d;
  --dark-2: #1e272e;
  --calc: 0, 0, 0, 0.30;
  --menu-mobile: #fbfcfc;
  --border: 1px solid var(--gray-2);
  --border-radius: 4px;
  --font-family: 'Roboto', sans-serif;
}

label {
  font-size: 15px;
}

input {
  font-size: 10px;
}

a.router-link-active {
  text-decoration: underline;
}